@import './variables';
.login-form{
    .form-group{
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5rem;
        margin: 1rem;
        .login-input{
            border:none;
            border-bottom: 1px solid black;
            width: 25vw;
            padding: 0.3rem;
            outline: none;
            &:focus{
                border-color: #50dae2;
                +label{
                    color: #50dae2;
                }
            }
        }
    }
    .login-btn{
        background-color: $primary-color;
        color: white;
        width: 25vw;
        margin: 0 1rem;
        padding: 0.8rem;
        border: none;
        cursor: pointer;
        &:hover{
            opacity: 0.9;
        }
    }
    @media screen and (max-width: 768px) {
        .form-group{
            .login-input{
                width: 100%;
            }
        }
        .login-btn-div{
            display: flex;
            justify-content: center;
            .login-btn{
                width: 90%;
            }
        }
        
    }
    @media screen and (min-width: 769px) and (max-width: 1024px){
        .login-form{
            .form-group{
                .register-input{
                    width: 35vw;
                }
            }
            .login-btn{
                width: 35vw;
            }
        }
    }
}